<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('header', {title: 'myMessageBoard'}) %>
    <div class="message-board">
      <% messages.forEach((msg) => { %>
        <div class="message">
          <div>
            <span class="message-user"><%= msg.user %> </span>
            <span class="message-timestamp"><%= msg.added %></span>
            <a href=<%=`/message/${msg.id}`%>>
              <button class="message-details">Details</button>
            </a>
          </div>
            <span class="message-text"><%= msg.text %></span>

        </div>
      <% }); %>
    </div>

    <a href="new">
      <Button class="new-message">Post New Message</button>
    </a>

  </body>
</html>