<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach((msg) => { %>
      <div>
        <strong><%= msg.user %>:</strong> <%= msg.text %>
        <em><%= msg.added %></em>
            <a href=<%=`/message/${msg.id}`%>>
                <button>Details</button>
            </a>
      </div>
    <% }); %>

    <a href="new">
      <Button>Post New Message</button>
    </a>
  </body>
</html>